#fh5co-home .text-inner h1{
    color:#3FA52A;
}

#first-section{
    padding: 2vw;
    background-color: white;
}

#rounded-white-space-1{
    background-color: white;
}

#first-section h2{
    text-align: center;
    padding:  3vw 1vw 0 1vw;
    font-size: 2.5vw;
}

#fh5co-services{
    padding: 0;
}

.img-icon{
    object-fit: contain;
    width: 6vw;
    margin: 0;
}

#subtitle{
    padding: 0 !important;
    color: black;
}

#service-container{
    height: 55vw !important;
}

#button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
}

#button-row h2{
    color: black;
    background-color: white;
    padding: 2vw;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

#button-row a{
    text-decoration: none;
}

#button-row h2:hover{
    background-color: #E6511D;
    transition: all 0.3s ease;
    color: white;
}