#fh5co-home .text-inner h1{
    color:#3FA52A;
}

#first-section{
    padding: 2vw;
    background-color: white;
}

#rounded-white-space-1{
    background-color: white;
}

#first-section h2{
    text-align: center;
    padding:  3vw 1vw 0 1vw;
    font-size: 2.5vw;
}

#fh5co-services{
    padding: 0;
}

.img-icon{
    object-fit: contain;
    width: 6vw;
    margin: 0;
}

#subtitle{
    padding: 0 !important;
    color: black;
}

#service-container{
    height: 55vw !important;
}

#button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
}

#button-row h2{
    color: black;
    background-color: white;
    padding: 2vw;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

#button-row a{
    text-decoration: none;
}

#button-row h2:hover{
    background-color: #E6511D;
    transition: all 0.3s ease;
    color: white;
}

#mobile{
        display: none;
    }

@media screen and (max-width: 992px){


    #desktop{
        display:none !important;
    }

    #mobile{
        display: block;
    }

    section#fh5co-home div.container div.text-wrap div.text-inner div.row div.col-md-10.col-md-offset-1.to-animate h1#titulo-id.titulo-clase {
        font-size: 10vw !important;

    }

    .row{
        margin-right: 0;
        margin-left: 0;
    }

    .col-md-4{
        padding: 0 !important;
    }

    #first-section h2{
        font-size: 8vw;
    }

    #service-container{
        height: 240vw !important;
    }

    #service-container-content{
        height: 90vw;
        text-align: center;
    }

    #service-container-content i{
        font-size: 10vw;
    }

    #service-container-content .row{
        margin-bottom: 4vw;
    }

    #service-container-content h3{
        margin: 0 !important;
    }
    #service-container-content #subtitle-1{
        margin-bottom: 5.8vw !important;
    }

    .img-icon{
        width: 10vw;
    }
}