#fh5co-home .text-inner h1{
    color:#3FA52A;
}

#first-section{
    padding: 2vw;
    background-color: white;
}

#rounded-white-space-1{
    background-color: white;
}

#first-section h2{
    text-align: center;
    padding:  3vw 1vw 0 1vw;
    font-size: 2.5vw;
}

#fh5co-services{
    padding: 0;
}

.img-icon{
    object-fit: contain;
    width: 6vw;
    height: 6vw;
    margin: 0;
}

#service-container-content{
    height: 40vw;
}

#service-container{
    height: auto;
}

h3{
    text-align: center;
    font-size: 1.8vw;
}

p{
    font-size:1.6vw;
}

#map-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.pin-icon{
    position: absolute;
    width: 2.5vw;
}

#pin-1{
    top:11.6vw;
    left: 47.7vw;
}

#pin-2{
    top:12.3vw;
    left: 48.3vw;
}

#pin-3{
    top:12.6vw;
    left: 49vw;
}

#pin-4{
    top:16.3vw;
    left: 49.8vw;
}

#link-1{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

#link-2{
    color:#3FA52A;
    text-decoration: none;
    cursor: pointer;
}

#link-3{
    color:#E6511D;
    text-decoration: none;
    cursor: pointer;
}

#link-4{
    color:#6F7072;
    text-decoration: none;
    cursor: pointer;
}

#link-1:hover{
    transition: all 0.3s ease;
    color:#BD0625;

}

#link-2:hover{
    transition: all 0.3s ease;
    color:#BD0625;
}

#link-3:hover{
    transition: all 0.3s ease;
    color:#BD0625;
}

#link-4:hover{
    transition: all 0.3s ease;
    color:#BD0625;
}

#mapa{
    width: 38vw;
}

#button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6vw;
}

#button-row h2{
    color: black;
    background-color: white;
    padding: 2vw;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

#button-row a{
    text-decoration: none;
}

#button-row h2:hover{
    background-color: #E6511D;
    transition: all 0.3s ease;
    color: white;
}
